.profile-img{
    height: 50px;
}

.second{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:'5px';
    border-radius: 50%;
    background-color: #fff;
    width: 45px;
    height: 45px;
}

.second p{
    margin-top: 8px;
}

.seconds-effect{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:'5px';
    border-radius: 50%;
    background-color: blue;
    width: 45px;
    height: 45px;
}
.seconds-effect p{
    margin-top: 8px;
    color: #fff;
}

.sidebar{
    position: sticky;
    top: 0;
}